
########################################################################################################
## csf.connector.properties
########################################################################################################

## -----------------------------------------------------------------------------------------------------
## client properties
## -----------------------------------------------------------------------------------------------------

## Client
client.node.id={{ rem_node_data_client_node_id }}

## TLS
client.jks.file={{ rem_home_dir }}/{{ component }}/keys/{{ rem_node_data_client_jks_file }}
client.jks.pass={{ rem_node_data_client_jks_pass }}

## Client Topics
client.in.topic={{ rem_node_data_client_in_topic }}
client.out.topic={{ rem_node_data_client_out_topic }}
client.file.in.topic={{ rem_node_data_client_file_in_topic }}

## Client Connection
websock.server.ip={{ rem_node_data_websock_server_ip }}
websock.server.port={{ rem_node_data_websock_server_port }}

## Metrics
metrics.delay.seconds={{ rem_node_data_metrics_delay_seconds }}

## File Storage
client.file.storage.location={{ rem_node_data_client_file_storage_location }}

## Kafka
client.kafka.group.id={{ rem_node_data_client_kafka_group_id }}

########################################################################################################
## kafka.properties
########################################################################################################

bootstrap.servers={{ rem_node_data_bootstrap_servers }}

########################################################################################################
## log4j.properties
########################################################################################################

log4j.rollingFileAppender.filelocation={{ rem_node_data_log4j_rollingFileAppender_filelocation }}
log4j.rollingFileAppender.fileNamePrefix={{ rem_node_data_log4j_rollingFileAppender_fileNamePrefix }}
