# -----------------------------------------------------------------------------------
# CSF Controller Configurations
# Number values should not be followed by any blank space.
# -----------------------------------------------------------------------------------

# -----------------------------------------------------
# Controller REST
# -----------------------------------------------------
csf.controller.ws.port={{ rem_csf_controller_csf_controller_ws_port }}

# -----------------------------------------------------
# Controller
# -----------------------------------------------------
csf.controller.control-topic-in={{ rem_csf_controller_csf_controller_control_topic_in }}
csf.controller.control-topic-out={{ rem_csf_controller_csf_controller_control_topic_out }}

# -----------------------------------------------------
# Control Proxy
# -----------------------------------------------------
csf.controlproxy.control-topic-in={{ rem_csf_controller_csf_controlproxy_control_topic_in }}
csf.controlproxy.control-topic-out={{ rem_csf_controller_csf_controlproxy_control_topic_out }}

# -----------------------------------------------------
# Marathon REST url
# -----------------------------------------------------
csf.controller.marathon.rest.url={{ rem_csf_controller_csf_controller_marathon_rest_url }}
csf.controller.mesosmaster.rest.url={{ rem_csf_controller_csf_controller_mesosmaster_rest_url }}

# -----------------------------------------------------
# Micro-services Related Settings
# -----------------------------------------------------
csf.controller.ms.engine.classpath={{ rem_csf_controller_csf_controller_ms_engine_classpath }}
csf.controller.ms.clientjars.dir={{ rem_csf_controller_csf_controller_ms_clientjars_dir }}
csf.controller.ms.parserjars.dir={{ rem_csf_controller_csf_controller_ms_parserjars_dir }}
csf.controller.ms.engine.flush={{ rem_csf_controller_csf_controller_ms_engine_flush }}
csf.controller.ms.yarn.dir={{ rem_csf_controller_csf_controller_ms_yarn_dir }}

csf.controller.remote.file.absolutepath={{ rem_csf_controller_csf_controller_remote_file_absolutepath }}
csf.controlproxy.fs.mount={{ rem_csf_controller_csf_controlproxy_fs_mount }}

# -----------------------------------------------------
# Postgres Database Configurations
# -----------------------------------------------------
rdbms.url={{ rem_csf_controller_rdbms_url }}
rdbms.username={{ rem_csf_controller_rdbms_username }}
rdbms.password={{ rem_csf_controller_rdbms_password }}
rdbms.driver={{ rem_csf_controller_rdbms_driver }}

# -----------------------------------------------------
# commonws API for updating uri mapping
# -----------------------------------------------------
commonws.uri.mapping.endPoint={{ rem_csf_controller_commonws_uri_mapping_endPoint }}
commonws.uri.mapping.createOne={{ rem_csf_controller_commonws_uri_mapping_createOne }}
commonws.uri.mapping.createMultiple={{ rem_csf_controller_commonws_uri_mapping_createMultiple }}
commonws.uri.mapping.delete={{ rem_csf_controller_commonws_uri_mapping_delete }}

# -----------------------------------------------------
# commonws API for update/delete Streaming mapping
# -----------------------------------------------------
commonws.streaming.mapping.endPoint={{ rem_csf_controller_commonws_streaming_mapping_endPoint }}
commonws.streaming.mapping.createOne={{ rem_csf_controller_commonws_streaming_mapping_createOne }}
commonws.streaming.mapping.createMultiple={{ rem_csf_controller_commonws_streaming_mapping_createMultiple }}
commonws.streaming.mapping.delete={{ rem_csf_controller_commonws_streaming_mapping_delete }}

# -----------------------------------------------------
# commonws uri base for trace manager
# -----------------------------------------------------
commonws.uri.base={{ rem_csf_controller_commonws_uri_base }}

########################################################################################################
## kafka.dot.nine.properties
########################################################################################################
bootstrap.servers={{ rem_csf_controller_bootstrap_servers }}
zookeeper.connect={{ rem_csf_controller_zookeeper_connect }}

acks={{ rem_csf_controller_acks }}
retries={{ rem_csf_controller_retries }}
batch.size={{ rem_csf_controller_batch_size }}
linger.ms={{ rem_csf_controller_linger_ms }}
buffer.memory={{ rem_csf_controller_buffer_memory }}
key.serializer={{ rem_csf_controller_key_serializer }}
value.serializer={{ rem_csf_controller_value_serializer }}

group.id={{ rem_csf_controller_group_id }}
enable.auto.commit={{ rem_csf_controller_enable_auto_commit }}
auto.commit.interval.ms={{ rem_csf_controller_auto_commit_interval_ms }}
session.timeout.ms={{ rem_csf_controller_session_timeout_ms }}
key.deserializer={{ rem_csf_controller_key_deserializer }}
value.deserializer={{ rem_csf_controller_value_deserializer }}
