/hello=com.cisco.eng.csf.commonws.core.HelloRest
/letitbe/hello=com.cisco.eng.csf.commonws.core.HelloRest
/myexample/helloworld/hello=com.cisco.eng.csf.commonws.core.HelloRest
/sslmanager/host = com.cisco.eng.csf.commonws.intapi.sslmanager.SslManagerServices
/sslmanager/hostExpired = com.cisco.eng.csf.commonws.intapi.sslmanager.SslManagerServices
/sslmanager/service = com.cisco.eng.csf.commonws.intapi.sslmanager.SslManagerServices
#
