
########################################################################################################
## csf.connector.client.properties 
########################################################################################################

## Client
client.node.id={{ cen_csf_connector_client_client_node_id }}

## TLS
client.jks.file={{ cen_csf_connector_client_client_jks_file }}
client.jks.pass={{ cen_csf_connector_client_client_jks_pass }}

## Client Topics
client.in.topic={{ cen_csf_connector_client_client_in_topic }}
client.out.topic={{ cen_csf_connector_client_client_out_topic }}
client.file.in.topic={{ cen_csf_connector_client_client_file_in_topic }}

## Client Connection
websock.server.ip={{ cen_csf_connector_client_websock_server_ip }}
websock.server.port={{ cen_csf_connector_client_websock_server_port }}

## Metrics
metrics.delay.seconds={{ cen_csf_connector_client_metrics_delay_seconds }}

## File Storage
client.file.storage.location={{ cen_csf_connector_client_client_file_storage_location }}

## Kafka
client.kafka.group.id={{ cen_csf_connector_client_client_kafka_group_id }}

########################################################################################################
## kafka.properties 
########################################################################################################

bootstrap.servers={{ cen_csf_connector_client_bootstrap_servers }}

########################################################################################################
## log4j.properties 
########################################################################################################

log4j.rollingFileAppender.filelocation={{ cen_csf_connector_client_log4j_rollingFileAppender_filelocation }}
log4j.rollingFileAppender.fileNamePrefix={{ cen_csf_connector_client_log4j_rollingFileAppender_fileNamePrefix }}
