
########################################################################################################
## csf.connector.server.properties
########################################################################################################

## Server
server.node.id={{ cen_csf_connector_server_server_node_id }}

## Metrics
metrics.delay.seconds={{ cen_csf_connector_server_metrics_delay_seconds }}

## TLS
server.jks.file={{ cen_csf_connector_server_server_jks_file }}
server.jks.pass={{ cen_csf_connector_server_server_jks_pass }}

## Ports used by Jetty
jetty.https.port={{ cen_csf_connector_server_jetty_https_port }}
jetty.http.port={{ cen_csf_connector_server_jetty_http_port }}
jetty.http.ip={{ cen_csf_connector_server_jetty_http_ip }}

## Server Topics
server.out.topic.prefix={{ cen_csf_connector_server_server_out_topic_prefix }}
server.in.topic.prefix={{ cen_csf_connector_server_server_in_topic_prefix }}
server.file.in.topic.prefix={{ cen_csf_connector_server_server_file_in_topic_prefix }}
#server.attending.nodes = node-1, node-2, node-3

## File Storage
server.file.storage.location={{ cen_csf_connector_server_server_file_storage_location }}

## Kafka
server.kafka.group.id={{ cen_csf_connector_server_server_kafka_group_id }}

########################################################################################################
## postgres.properties
########################################################################################################

rdbms.url={{ cen_csf_connector_server_rdbms_url }}
rdbms.username={{ cen_csf_connector_server_rdbms_username }}
rdbms.password={{ cen_csf_connector_server_rdbms_password }}
rdbms.driver={{ cen_csf_connector_server_rdbms_driver }}
rdbms.validation.query={{ cen_csf_connector_server_rdbms_validation_query }}

########################################################################################################
## kafka.properties
########################################################################################################

#bootstrap.servers = csf-dev-001:9092,csf-dev-002:9092,csf-dev-003:9092,csf-dev-004:9092
bootstrap.servers={% for kafka_server_ip in groups['kafka-servers'] %}{{kafka_server_ip}}:{{ hostvars[kafka_server_ip]['kafka_port']}}{% if not loop.last %},{% endif %}{% endfor %}

########################################################################################################
## log4j.properties
########################################################################################################

#log4j.rollingFileAppender.filelocation={{ cen_csf_connector_server_log4j_rollingFileAppender_filelocation }}
log4j.rollingFileAppender.filelocation=/var/log/{{ component }}
log4j.rollingFileAppender.fileNamePrefix={{ cen_csf_connector_server_log4j_rollingFileAppender_fileNamePrefix }}
