csf.healthmanager.isremote={{ rem_csf_health_csf_healthmanager_isremote }}
# -----------------------------------------------------
# Postgres Database Configurations
# -----------------------------------------------------
rdbms.url={{ rem_csf_health_rdbms_url }}
#rdbms.url = jdbc:postgresql://localhost:5432/csf_database
rdbms.username={{ rem_csf_health_rdbms_username }}
rdbms.password={{ rem_csf_health_rdbms_password }}
rdbms.driver={{ rem_csf_health_rdbms_driver }}
########################################################################################################
## kafka.dot.nine.properties
########################################################################################################
bootstrap.servers={{ rem_csf_health_bootstrap_servers }}
#bootstrap.servers = localhost:9092
#zookeeper.connect = csf-dev-001:2181,csf-dev-002:2181,csf-dev-003:2181,csf-dev-004:2181,csf-dev-005:2181/kafka/control_plane

acks={{ rem_csf_health_acks }}
retries={{ rem_csf_health_retries }}
batch.size={{ rem_csf_health_batch_size }}
linger.ms={{ rem_csf_health_linger_ms }}
buffer.memory={{ rem_csf_health_buffer_memory }}
key.serializer={{ rem_csf_health_key_serializer }}
value.serializer={{ rem_csf_health_value_serializer }}

enable.auto.commit={{ rem_csf_health_enable_auto_commit }}
auto.commit.interval.ms={{ rem_csf_health_auto_commit_interval_ms }}
session.timeout.ms={{ rem_csf_health_session_timeout_ms }}
key.deserializer={{ rem_csf_health_key_deserializer }}
value.deserializer={{ rem_csf_health_value_deserializer }}
csf.log.dir={{ rem_csf_health_csf_log_dir }}
#-----------------------------------------------------------
# Event Recording 
#-----------------------------------------------------------
csf.event.batch.file.topic={{ rem_csf_health_csf_event_batch_file_topic }}
csf.event.bootstrap.servers={{ rem_csf_health_csf_event_bootstrap_servers }}
#csf.event.bootstrap.servers = 10.158.4.141:9092 
csf.event.consumer.group.id={{ rem_csf_health_csf_event_consumer_group_id }}
csf.event.consumer.topic={{ rem_csf_health_csf_event_consumer_topic }}
csf.event.cotrol.command.group.id={{ rem_csf_health_csf_event_cotrol_command_group_id }}
csf.event.control.command.topic={{ rem_csf_health_csf_event_control_command_topic }}
csf.event.consumer.out.group.id={{ rem_csf_health_csf_event_consumer_out_group_id }}
csf.event.consumer.out.topic={{ rem_csf_health_csf_event_consumer_out_topic }}
#-----------------------------------------------------------
# CommonWS
#-----------------------------------------------------------
cws.uri.base={{ rem_csf_health_cws_uri_base }}

# ----------------------------------------------------------
# Diagnostic Trace Related Config
# ----------------------------------------------------------

csf.diagnostictrace.consumer.group.id={{ rem_csf_health_csf_diagnostictrace_consumer_group_id }}
csf.diagnostictrace.topic={{ rem_csf_health_csf_diagnostictrace_topic }}

