#
# /etc/sysconfig/{{ component }}-{{ subcomponent.name }}
#

JAVA_USER="{{ component }}"
JAVA_STDOUT="/var/log/{{ component }}/{{ subcomponent.name }}.log"
JAVA_STDERR="/var/log/{{ component }}/{{ subcomponent.name }}-err.log"
JAVA_BIN="/etc/alternatives/java"
JAVA_HOME="/etc/alternatives/jre"
JAVA_APPDIR="{{ rem_home_dir }}/{{ component }}"
ARG1="-classpath {{ rem_home_dir }}/{{ component }}/build/libs/csf-health-all-0.0.1-SNAPSHOT.jar"
ARG2="-DbulkbootstrapServers=AASF_KAFKA_LISTENER_HOST:AASF_KAFKA_LISTENER_PORT -Dhealth.conf={{ rem_home_dir }}/{{ component }}/conf/csf-health.conf"
ARG3="com.cisco.eng.csf.health.HealthMgr"
