csf.healthmanager.isremote={{ cen_csf_health_csf_healthmanager_isremote }}
# -----------------------------------------------------
# Postgres Database Configurations
# -----------------------------------------------------
rdbms.url={{ cen_csf_health_rdbms_url }}
#rdbms.url = jdbc:postgresql://localhost:5432/csf_database
rdbms.username={{ cen_csf_health_rdbms_username }}
rdbms.password={{ cen_csf_health_rdbms_password }}
rdbms.driver={{ cen_csf_health_rdbms_driver }}
########################################################################################################
## kafka.dot.nine.properties
########################################################################################################
#bootstrap.servers={{ cen_csf_health_bootstrap_servers }}
#bootstrap.servers = localhost:9092
bootstrap.servers={% for kafka_server_ip in groups['kafka-servers'] %}{{kafka_server_ip}}:{{ hostvars[kafka_server_ip]['kafka_port']}}{% if not loop.last %},{% endif %}{% endfor %}
zookeeper.connect={% for zk_server_ip in groups['zookeeper-servers'] %}{{zk_server_ip}}:{{ hostvars[zk_server_ip]['zookeeper_srv_port']}}{% if not loop.last %},{% endif %}{% endfor %}/{{ cen_csf_health_zookeeper_connect_uri }}

acks={{ cen_csf_health_acks }}
retries={{ cen_csf_health_retries }}
batch.size={{ cen_csf_health_batch_size }}
linger.ms={{ cen_csf_health_linger_ms }}
buffer.memory={{ cen_csf_health_buffer_memory }}
key.serializer={{ cen_csf_health_key_serializer }}
value.serializer={{ cen_csf_health_value_serializer }}

enable.auto.commit={{ cen_csf_health_enable_auto_commit }}
auto.commit.interval.ms={{ cen_csf_health_auto_commit_interval_ms }}
session.timeout.ms={{ cen_csf_health_session_timeout_ms }}
key.deserializer={{ cen_csf_health_key_deserializer }}
value.deserializer={{ cen_csf_health_value_deserializer }}

#csf.log.dir={{ cen_csf_health_csf_log_dir }}
csf.log.dir=/var/log/{{ component }}

#-----------------------------------------------------------
# Event Recording
#-----------------------------------------------------------
csf.event.batch.file.topic={{ cen_csf_health_csf_event_batch_file_topic }}
csf.event.bootstrap.servers={{ cen_csf_health_csf_event_bootstrap_servers }}
csf.event.consumer.group.id={{ cen_csf_health_csf_event_consumer_group_id }}
csf.event.consumer.topic={{ cen_csf_health_csf_event_consumer_topic }}
csf.event.cotrol.command.group.id={{ cen_csf_health_csf_event_cotrol_command_group_id }}
csf.event.control.command.topic={{ cen_csf_health_csf_event_control_command_topic }}
csf.event.consumer.out.group.id={{ cen_csf_health_csf_event_consumer_out_group_id }}
csf.event.consumer.out.topic={{ cen_csf_health_csf_event_consumer_out_topic }}
#-----------------------------------------------------------
# CommonWS
#-----------------------------------------------------------
cws.uri.base={{ cen_csf_health_cws_uri_base }}

# ----------------------------------------------------------
# Diagnostic Trace Related Config
# ----------------------------------------------------------

csf.diagnostictrace.consumer.group.id={{ cen_csf_health_csf_diagnostictrace_consumer_group_id }}
csf.diagnostictrace.topic={{ cen_csf_health_csf_diagnostictrace_topic }}
