#
# /etc/sysconfig/{{ component }}-{{ subcomponent.name }}
#

JAVA_USER="{{ component }}"
JAVA_STDOUT="/var/log/{{ component }}/{{ subcomponent.name }}.log"
JAVA_STDERR="/var/log/{{ component }}/{{ subcomponent.name }}-err.log"
JAVA_BIN="/etc/alternatives/java"
JAVA_HOME="/etc/alternatives/jre"
JAVA_APPDIR="{{ cen_home_dir }}/{{ component }}"
ARG1="-classpath {{ cen_home_dir }}/{{ component }}/build/libs/csf-connector-0.0.1-SNAPSHOT-server.jar"
ARG2="-Dconnector.conf={{ cen_home_dir }}/{{ component }}/conf/node0-{{ subcomponent.name }}.conf"
ARG3="com.cisco.eng.csf.connector.server.Server"
