#
# /lib/systemd/system/{{ component }}-{{ subcomponent.name }}.service
#
# sourced from Ansible:roles/central-deploy/templates/{{ component }}-{{ subcomponent.name }}.service.j2
#

[Unit]
Description={{ component }} {{ subcomponent.name }} Service
After=syslog.target
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/{{ component }}-{{ subcomponent.name }}.sysconfig
ExecStart=/usr/sbin/daemonize -u $JAVA_USER -o $JAVA_STDOUT -e $JAVA_STDERR -c $JAVA_APPDIR $JAVA_BIN $ARG1 $ARG2 $ARG3 $ARG4 $ARG5
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target
