#
# /etc/sysconfig/{{ component }}-{{ subcomponent.name }}
#

JAVA_USER="{{ component }}"
JAVA_STDOUT="/var/log/{{ component }}/{{ subcomponent.name }}.log"
JAVA_STDERR="/var/log/{{ component }}/{{ subcomponent.name }}-err.log"
JAVA_BIN="/etc/alternatives/java"
JAVA_HOME="/etc/alternatives/jre"
JAVA_APPDIR="{{ cen_home_dir }}/{{ component }}"
ARG1="-classpath {{ cen_home_dir }}/{{ component }}/build/libs/csf-health-all-0.0.1-SNAPSHOT.jar"
ARG2="-DbulkbootstrapServers={% for kafka_server_ip in groups['kafka-servers'] %}{{kafka_server_ip}}:{{ hostvars[kafka_server_ip]['kafka_port']}}{% if not loop.last %},{% endif %}{% endfor %}"
ARG3="-Dhealth.conf={{ cen_home_dir }}/{{ component }}/conf/csf-health.conf"
ARG4="-DmsRuntimeInstanceID={{ cen_runtime_instance_id }}"
ARG5="com.cisco.eng.csf.health.HealthMgr"
